<!--<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  <meta charset="utf-8">
  <title>Cryptocurrency Pricing Application</title>
</head>

  <body>
    <div class="container" id="app">
      <h3 class="text-center">Cryptocurrency Pricing</h3>
  <div class="columns medium-4" v-for="(result, index) in results">
    <div class="card">
      <div class="card-section">
        <p> {{ index }} </p>
      </div>
      <div class="card-divider">
        <p>$ {{ result.USD }}</p>
      </div>
      <div class="card-section">
        <p> &#8364 {{ result.EUR }}</p>
      </div>
    </div>
  </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="vueApp.js"></script>
  </body>
</html>
-->
<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="styles/demo.css" />
  </head>

  <body>
    <div id="app">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Portfolio_Id</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Begin</th>
            <th>End</th>
            <th>Interest_Rate</th>
            <th>Expected_End</th>
            <th>Create_Time</th>
            <th>Comment</th>

          </tr>
        </thead>
        <tbody>
          <tr v-for="info in info">
            id, portfolio_id, symbol, price, quantity, begin, end, interest_rate, expected_end, create_time, comment
            <td>{{ info.id  }}</td>
            <td>{{ info.portfolio_id  }}</td>
            <td>{{ info.symbol  }}</td>
            <td>{{ info.price  }}</td>
            <td>{{ info.quantity  }}</td>
            <td>{{ info.begin  }}</td>
            <td>{{ info.end  }}</td>
            <td>{{ info.interest_rate  }}</td>
            <td>{{ info.expected_end  }}</td>
            <td>{{ info.create_time  }}</td>
            <td>{{ info.comment  }}</td>

          </tr>
        </tbody>
      </table>
    </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        /*
        people: [{
          name: 'Jack',
          age: 30,
          sex: 'Male'
        }, {
          name: 'Bill',
          age: 26,
          sex: 'Male'
        }, {
          name: 'Tracy',
          age: 22,
          sex: 'Female'
        }, {
          name: 'Chris',
          age: 36,
          sex: 'Male'
        }]
        */
      }
    })
  </script>
  </body>


</html>